<Configuration status="INFO">
	<Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <RollingFile name="FileAppender" fileName="/home/daniel/Documentos/the_log.log" filePattern="/home/daniel/Documentos/the_log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-4r [%t] %5p %c{1} %x - %m - transactionElapsed=%X{transactionElapsed} transactionRef=%X{transactionRef} nodeRef=%X{nodeRef} consumerRef=%X{consumerRef} %n"/>
            <Policies>
        		<SizeBasedTriggeringPolicy size="10MB" />
    		</Policies>
        </RollingFile>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
        	<PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.api.catlibrary" level="info" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Root level="info">
	        <AppenderRef ref="ConsoleAppender" />
	    </Root>
    </Loggers>
</Configuration>